* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #40c057;
  display: grid;
  place-content: center;
  height: 100%;
}

.main-container {
  width: 500px;
  height: 370px;
  background-color: #f8f9fa;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.search-container {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 40px; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
}

.search-input {
  background-color: #f8f9fa;
  outline: none;
  border-bottom: 3px solid #40c057;
  font-size: 14px;
}

.search-button {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #40c057;
  color: #f8f9fa;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.word-container {
  margin-left: 70px;
}

.word {
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 6px;
}

.word-type-pronunciation {
  color: #868e96;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 18px;
}

.word-definition {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 26px;
}

.word-example {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-left: 10px;
  border-left: 5px solid #40c057;
}

.error {
  display: flex;
  margin-top: 100px;
  margin-left: 110px;
}

.icon-error {
  width: 30px;
  height: 30px;
  stroke: #40c057;
  margin-right: 40px;
}

.error-message {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #868e96;
}
